@import 'variables.css';
@import 'layouts/left-sidebar-type-tab.css';
@import 'layouts/content-layout.css';
@import 'widgets/hover-popover-widget.css';
@import 'tokens/command-button-container.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SuiGeneris';
    font-display: swap;
    src: url('./fonts/sui_generis_rg.otf') format('opentype');
}

@font-face {
    font-family: 'Apple SD Gothic Neo';
    font-display: swap;
    src: url('./fonts/AppleSDGothicNeoR.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumGothic';
    font-display: swap;
    src: url('./fonts/NanumGothic.otf') format('opentype');
}

body {
    margin: 0;
    height: 100%;
    min-height: 100vh;

    font-family: 'NanumGothic', 'Apple SD Gothic Neo', 'SuiGeneris', sans-serif;

    a {
        text-decoration: none;
        color: inherit;
    }

    input:focus-visible {
        outline: none;
        outline-offset: 0;
    }
}

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}